 # Basic Pandas

In [ ]:
pip install pandas  ##install pandas

In [2]:
import pandas as pd
#Create a DataFrame from a list of lists
data = [['Esha', 18], ['Ashu', 19], ['Ash', 20]]
df = pd.DataFrame(data, columns=['name', 'age'])
# Print the DataFrame
print(df)

   name  age
0  Esha   18
1  Ashu   19
2   Ash   20

In [4]:
df.head(2)

   name  age
0  Esha   18
1  Ashu   19

In [7]:
df.tail(1)

  name  age
2  Ash   20

In [8]:
df["name"]

0    Esha
1    Ashu
2     Ash
Name: name, dtype: object

In [9]:
df["age"].mean()

19.0

In [3]:
df["age"].max() - df["age"].min()

2

In [3]:
df["age"].max()

20

  # We can read this CSV dataset into a Pandas DataFrame:

In [2]:
import pandas as pd
# Read the CSV dataset into a DataFrame
df = pd.read_csv('Corona.csv')
df

,UserName,ScreenTime,Location,TweetAt,OriginalTweet,Sentiment
0,1,44953,NYC,02-03-20,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative
1,2,44954,"Seattle, WA",02-03-20,When I couldn't find hand sanitizer at Fred Me...,Positive
2,3,44955,NaN,02-03-20,Find out how you can protect yourself and love...,Extremely Positive
3,4,44956,Chicagoland,02-03-20,#Panic buying hits #NewYork City as anxious sh...,Negative
4,5,44957,"Melbourne, Victoria",03-03-20,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral
...,...,...,...,...,...,...
3793,3794,48746,Israel ??,16-03-20,Meanwhile In A Supermarket in Israel -- People...,Positive
3794,3795,48747,"Farmington, NM",16-03-20,Did you panic buy a lot of non-perishable item...,Negative
3795,3796,48748,"Haverford, PA",16-03-20,Asst Prof of Economics @cconces was on @NBCPhi...,Neutral
3796,3797,48749,NaN,16-03-20,Gov need to do somethings instead of biar je r...,Extremely Negative
3797,3798,48750,"Arlington, Virginia",16-03-20,I and @ForestandPaper members are committed to...,Extremely Positive

In [5]:
df.head(50)

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative
1,2,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive
2,3,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Extremely Positive
3,4,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative
4,5,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral
5,6,44958,Los Angeles,03-03-2020,Do you remember the last time you paid $2.99 a...,Neutral
6,7,44959,NaN,03-03-2020,Voting in the age of #coronavirus = hand sanit...,Positive
7,8,44960,"Geneva, Switzerland",03-03-2020,"@DrTedros ""We cant stop #COVID19 without prot...",Neutral
8,9,44961,NaN,04-03-2020,HI TWITTER! I am a pharmacist. I sell hand san...,Extremely Negative
9,10,44962,"Dublin, Ireland",04-03-2020,Anyone been in a supermarket over the last few...,Extremely Positive
10,11,44963,"Boksburg, South Africa",04-03-2020,Best quality couches at unbelievably low price...,Positive
11,12,44964,New Delhi,04-03-2020,Beware of counterfeits trying to sell fake mas...,Extremely Negative
12,13,44965,"USA, PA",04-03-2020,Panic food buying in Germany due to #coronavir...,Extremely Negative
13,14,44966,NaN,04-03-2020,"#Covid_19 Went to the Grocery Store, turns out...",Extremely Positive
14,15,44967,"Washington, DC",04-03-2020,While we were busy watching election returns a...,Positive
15,16,44968,Bengaluru,04-03-2020,#AirSewa \r\r\n\r\r\n@flyspicejet is not provi...,Extremely Negative
16,17,44969,Mumbai,05-03-2020,What Precautionary measures have you all taken...,Extremely Positive
17,18,44970,"Toronto, Ontario",05-03-2020,When youre stockpiling food &amp; other suppl...,Neutral
18,19,44971,NaN,05-03-2020,That's about a week from now. A bit optimistic...,Positive
19,20,44972,Tallahassee,05-03-2020,Studies show the #coronavirus like #COVID19 ca...,Extremely Positive
20,21,44973,Malta,05-03-2020,#CoronaVirus #COVID_19 People are starting to ...,Negative
21,22,44974,"Texas, USA",05-03-2020,For those of you that think credit/debit is ju...,Extremely Positive
22,23,44975,"Florida, USA",06-03-2020,Control over stocks and gold is lost...gold co...,Extremely Positive
23,24,44976,Chandigarh,06-03-2020,Sellers are cashing on your panic to sell face...,Extremely Positive
24,25,44977,Canada,07-03-2020,Canada's oilpatch is bracing for the impact of...,Extremely Negative
25,26,44978,"Wayne County, MI",07-03-2020,Alright yall I hope our Melanin prevails but ...,Positive
26,27,44979,"Bondi Beach, Sydney",07-03-2020,When your usual grocery shopping @woolworths t...,Negative
27,28,44980,NaN,07-03-2020,Coronavirus panic spreads: Costco is pulling f...,Negative
28,29,44981,NaN,07-03-2020,"While you are stocking up, waiting for quarant...",Negative
29,30,44982,United States,07-03-2020,"#Coronavirus is ""an exposure of all the holes ...",Positive
30,31,44983,"New York, New York",07-03-2020,Two important phone numbers NYers should know....,Negative
31,32,44984,"London, England",08-03-2020,Tip for all Pro Wrestlers to help combat the #...,Extremely Positive
32,33,44985,USA,08-03-2020,Is this effective?\r\r\nIs it necessary?\r\r\n...,Extremely Negative
33,34,44986,"Toronto, Ontario",08-03-2020,IMHO Russia's rug pull on oil prices is design...,Extremely Negative
34,35,44987,"Angmering, West Sussex",08-03-2020,So not due to #Brexit at all then &gt;&gt; Sup...,Neutral
35,36,44988,"Dont ask for freedom, take it.",08-03-2020,"Remember, with all the media deflection storie...",Extremely Negative
36,37,44989,"New York, NY",08-03-2020,Fellow Uni instructors! COVID-19 f2f class can...,Negative
37,38,44990,NaN,08-03-2020,@howroute Its not even over food... what the ...,Neutral
38,39,44991,"Sydney, New South Wales",08-03-2020,1/25 Part 1 - Why does soap work so well on th...,Negative
39,40,44992,Socially Distanced in NC,08-03-2020,Thread: Please STOP shaming folks who stock up...,Extremely Positive
40,41,44993,"Michigan, USA",09-03-2020,For those thinking #seniors #disabled &amp; #v...,Positive
41,42,44994,Pennsylvania,09-03-2020,So far 36 Pennsylvanians have reached out to m...,Negative
42,43,44995,Kolkata?? and Dhaka??,09-03-2020,Global stock markets continued their bear run ...,Neutral
43,44,44996,"Washington, D.C.",09-03-2020,Scammers are taking advantage of fears surroun...,Positive
44,45,44997,"Burnaby, British Columbia",09-03-2020,Are you doing business in international market...,Positive
45,46,44998,"Manhattan, NY",09-03-2020,For those in gig economy who only earn if ppl ...,Extremely Positive
46,47,44999,"Colorado, USA",09-03-2020,I have instructed that insurance companies mak...,Extremely Positive
47,48,45000,"Washington, DC",09-03-2020,The oil prices dipping has absolutely nothing ...,Extremely Negative
48,49,45001,United States,09-03-2020,Global stocks plummeted today due to fear surr...,Extremely Negative
49,50,45002,#NoNazis?? kaspum zaháv,09-03-2020,The beginning of a global recession!\r\r\n\r\...,Extremely Negative

In [7]:
df.tail(30)

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
3768,3769,48721,"Montreal, Canada",16-03-2020,Coronavirus Panic: Toilet Paper Is the People...,Negative
3769,3770,48722,"Marietta, GA",16-03-2020,Due to the Corona Virus (Covid -19) we have ma...,Positive
3770,3771,48723,"West Virginia, USA",16-03-2020,"PSA: Stop panicking about COVID-19, you don't ...",Negative
3771,3772,48724,"Houston, TX",16-03-2020,When I'm stopped by George at the grocery stor...,Negative
3772,3773,48725,"Louisville, KY",16-03-2020,Due to ongoing public health and safety concer...,Positive
3773,3774,48726,Köln,16-03-2020,Rewe Mitarbeiter: Nur eine Packung Klopapier ...,Neutral
3774,3775,48727,Living takes my breath away?,16-03-2020,The financial &amp; economic impact of COVID-1...,Neutral
3775,3776,48728,Southern Maine,16-03-2020,"At the store today, cat food was in low supply...",Extremely Negative
3776,3777,48729,"Toronto, Ontario, Canada",16-03-2020,The GLB Retail Store / Taproom is CLOSED today...,Extremely Positive
3777,3778,48730,NaN,16-03-2020,Waiting in a line in 1 meter distance from eac...,Neutral
3778,3779,48731,NaN,16-03-2020,In light of the ongoing and rapidly evolving C...,Neutral
3779,3780,48732,NaN,16-03-2020,Stuck inside? How about getting some reading ...,Positive
3780,3781,48733,"Kansas, USA",16-03-2020,@GovLauraKelly PLEASE CLOSE ALL RETAIL that is...,Positive
3781,3782,48734,"Groningen, Nederland",16-03-2020,@writing4poker @RealKidPoker I can only wish y...,Extremely Positive
3782,3783,48735,Toronto,16-03-2020,Most brands feel compelled to address COVID-19...,Extremely Positive
3783,3784,48736,Texas,16-03-2020,Amazon delivery infrastructure strained as COV...,Negative
3784,3785,48737,Paraparaumu Beach,16-03-2020,Just been through K?piti New World which is bu...,Positive
3785,3786,48738,People's Republic of China,16-03-2020,At this crucial time when non Muslims are givi...,Extremely Positive
3786,3787,48739,"Flemington, New Jersey",16-03-2020,We've noticed a shift in consumer #research in...,Extremely Positive
3787,3788,48740,"Manchester, England",16-03-2020,Its funny seeing all these people fight and pa...,Extremely Negative
3788,3789,48741,Pakistan,16-03-2020,You never eaten the pigs cat dog or food from ...,Neutral
3789,3790,48742,"California, USA",16-03-2020,@calebmealer @thebradfordfile @realDonaldTrump...,Extremely Positive
3790,3791,48743,"Cincinnati, Ohio",16-03-2020,"Even though the Law Library is closed, ALL sub...",Positive
3791,3792,48744,Washington D.C.,16-03-2020,"With Gov Hogan's announcement that all bars, r...",Extremely Negative
3792,3793,48745,Washington D.C.,16-03-2020,"@RicePolitics @MDCounties Craig, will you call...",Negative
3793,3794,48746,Israel ??,16-03-2020,Meanwhile In A Supermarket in Israel -- People...,Positive
3794,3795,48747,"Farmington, NM",16-03-2020,Did you panic buy a lot of non-perishable item...,Negative
3795,3796,48748,"Haverford, PA",16-03-2020,Asst Prof of Economics @cconces was on @NBCPhi...,Neutral
3796,3797,48749,NaN,16-03-2020,Gov need to do somethings instead of biar je r...,Extremely Negative
3797,3798,48750,"Arlington, Virginia",16-03-2020,I and @ForestandPaper members are committed to...,Extremely Positive

In [14]:
df['ScreenTime']

0       44953
1       44954
2       44955
3       44956
4       44957
        ...
3793    48746
3794    48747
3795    48748
3796    48749
3797    48750
Name: ScreenTime, Length: 3798, dtype: int64

In [18]:
df['ScreenTime'].mean()   #Calculate mean

46851.5

In [19]:
df["ScreenTime"].median()  #Calculate median

46851.5

In [3]:
df["ScreenTime"].mode()    #Calculate mode

0       44953
1       44954
2       44955
3       44956
4       44957
        ...
3793    48746
3794    48747
3795    48748
3796    48749
3797    48750
Name: ScreenTime, Length: 3798, dtype: int64

In [4]:
df["ScreenTime"].std()     #Calculate Standard Deviation

1096.5324892587541

In [7]:
df["ScreenTime"].max()     #Calculate max values

48750

In [8]:
df["ScreenTime"].min()     #Calculate min values

44953